@model ProductSiteCard
@{
    string typeCard = "";
    string bgCard = "";
    string imgSrc = "";
    string imgAlt = "";
    if (Model != null)// TODO Расширить проверку ниже
        switch (Model.TypeCard)
        {
            case TypeCard.House:
                bgCard = "green__bg";
                typeCard = "green__card";
                imgSrc = "images/houseWhite.svg";
                imgAlt = "alt=house.svg";
                break;
            case TypeCard.Human:
                bgCard = "red__bg";
                typeCard = "red__card";
                imgSrc = "images/girlWhite.svg";
                imgAlt = "alt=girl.svg";
                break;
            case TypeCard.Education:
                bgCard = "blue__bg";
                typeCard = "blue__card";
                imgSrc = "images/hatWhite.svg";
                imgAlt = "hat.svg";
                break;
            case TypeCard.Music:
                bgCard = "orange__bg";
                typeCard = "orange__card";
                imgSrc = "images/musicWhite.svg";
                imgAlt = "music.svg";
                break;
            case TypeCard.Transport:
                bgCard = "purple__bg";
                typeCard = "purple__card";
                imgSrc = "images/busWhite.svg";
                imgAlt = "bus.svg";
                break;
            default:
                break;
        }
}
<a href="" class="card @typeCard active">
    <div class="card-content">

        <div class="card__image">
            <img class="card__bg" src=~/@Model.BackgroundImage alt="backgroundCard">
            <div class="card__price @bgCard">
                @Model.RightTopText
            </div>
            <div class="card__icon @bgCard">
                <img src=~/@imgSrc alt="@imgAlt" class="filter__icon">
            </div>
        </div>

        <div class="card-text">
            <h2>@Model.Title</h2>
            <p>@Model.Text</p>

            <div class="card-text-stars">
                @for (int i = 0; i < Model.Rating; ++i)
                {
                    <img src="~/images/star.svg">
                }
                @for (int i = 0; Model.Rating + i < 5; ++i)
                {
                    <img src="~/images/emptyStar.svg">
                }
                <p>(@Model.CountComments)</p>
            </div>
        </div>
    </div>
</a>