@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AccountLayout";
}

<div class="container">
    <a href="/" class="logo">
        <img src="~/images/logo.svg" alt="logo">
        @Config.CompanyName
    </a>
    <form method="post" asp-controller="Account" asp-action="Register">
        <a href="/" class="close__page">
            &#215;
        </a>
        <div class="form__title">
            <h2>Registration</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="form__items">
            <div class="form__item">
                <label for="firstname">First name</label>
                @Html.EditorFor(user => user.FirstName)
            </div>
            <div class="form__item">
                <label for="secondname">Second name</label>
                @Html.EditorFor(user => user.SecondName)
            </div>
            <div class="form__item">
                <label for="email">Email</label>
                @Html.EditorFor(user => user.Email)
            </div>
            <div class="form__item">
                <label for="date">Birth date</label>
                @Html.EditorFor(user => user.DateBirth)
            </div>
            <div class="form__item">
                <label for="country">Country</label>
                @Html.EditorFor(user => user.Country)
            </div>
            <div class="form__item">
                <label for="postcode">Postcode</label>
                @Html.EditorFor(user => user.PostCode)
            </div>
            <div class="form__item">
                <label for="address">Address</label>
                @Html.EditorFor(user => user.Address)
            </div>
            <div class="form__item">
                <label for="password">Password</label>
                @Html.EditorFor(user => user.Password)
            </div>
            <div class="form__item">
                <label for="confirm__password">Confirm password</label>
                @Html.EditorFor(user => user.PasswordConfirm)
            </div>
            <div class="form__item">
                <input type="submit" name="submit" value="Register">
            </div>
        </div>
        <a href="/Account/Login" class="register">
            Login
        </a>
    </form>
</div>