@model ProductSiteCard
@{
    string strTitle = "Редактировать карточку";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="Admin" asp-controller="ProductCards" asp-action="ProductCardEdit" method="post" enctype="multipart/form-data">

            @Html.HiddenFor(card => card.ProductId, @Model?.ProductId)
            @*            <div class="div-box">
                    <label asp-for="ProductId"></label>
                    @Html.EditorFor(card => card.ProductId, @Model?.ProductId)
                    <span asp-validation-for="ProductId"></span>
                </div>*@

            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="div-box">
                <label asp-for="Text"></label>
                <textarea asp-for="Text"></textarea>
                <span asp-validation-for="Text"></span>
            </div>
            <div class="div-box">
                <label asp-for="BackgroundImage"></label>
                <input asp-for="BackgroundImage"/>
                <input asp-for="BackgroundImage" type="file" name="formImageFile" id="formImageFile" />

                <div>
                    <img class="img-block" src="@Model?.BackgroundImage" />
                </div>
            </div>
            <div class="div-box">
                <label asp-for="RightTopText"></label>
                <input asp-for="RightTopText" />
                <span asp-validation-for="RightTopText"></span>
            </div>
            <div class="div-box">
                <label asp-for="Rating"></label>
                <input asp-for="Rating" />
                <span asp-validation-for="Rating"></span>
            </div>
            <div class="div-box">
                <label asp-for="CountComments"></label>
                <input asp-for="CountComments" />
                <span asp-validation-for="CountComments"></span>
            </div>
            <div class="div-box">
                <label asp-for="TypeCard"></label>
                <select asp-for="TypeCard">
                    @{ var typeCards = Enum.GetValues(typeof(TypeCard)).GetEnumerator(); }
                    @foreach (string nameCard in Enum.GetNames(typeof(TypeCard)))
                    {
                        typeCards.MoveNext();
                        <option value="@typeCards.Current">@nameCard</option>
                    }
                </select>
                @*<input asp-for="TypeCard" />*@
                <span asp-validation-for="TypeCard"></span>
            </div>
            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>