@model IQueryable<Producer>
@{
    string strTitle = "Таблица для редактирование данных производителей";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>

    <p class="tableHeader">Производители</p>
    <div class="flexTable2">
        <div>
            <div>Id</div>
            <div>Название</div>
            <div>Контактная информация</div>
            <div>Расположение</div>
            <div>Описание</div>
            <div>Продукты</div>
        </div>
        @{ string actionToProducer = ""; }
        @foreach (var producer in Model)
        {
            <div>
                <div><input asp-for="@producer.ProducerId" value="@producer.ProducerId" /></div>
                <div><input asp-for="@producer.ProducerId" value="@producer.ProducerId" /></div>
                <div><input asp-for="@producer.Name" value="@producer.Name" /></div>
                <div><input asp-for="@producer.ContactInformation" value="@producer.ContactInformation" /></div>
                <div><input asp-for="@producer.Location" value="@producer.Location" /></div>
                <div><input asp-for="@producer.Description" value="@producer.Description" /></div>
                <div>
                    @if (producer.Products != null)
                    {
                        <div>Есть </div>
                        actionToProducer = "Редактировать";
                    }
                    else
                    {
                        <div>Нет </div>
                        actionToProducer = "Добавить";
                    }
                    <a asp-area="Admin" asp-controller="Producer" asp-action="ProducerEdit" asp-route-id="@producer.ProducerId">@actionToProducer</a>
                </div>
            </div>

        }
    </div>
    @if (Model.Any())
    {
        <p>Удалить производителя</p>//TODO в будущем добавить js и возомжность удаления через выделение элементов
        <form style="display: inline-block;" asp-area="Admin" id="DeleteProducerForm" asp-controller="ProducerEdit" asp-action="ProducerDelete" method="post">
            <input name="producerId" type="number" value="1" min="1" max="@Model.Count()">
            <a href="#" onclick="document.getElementById('DeleteProducerForm').submit();">Удалить</a>
        </form>
    }
    <a asp-area="Admin" asp-controller="Producer" asp-action="ProducerEdit" asp-route-id="">Добавить продукт</a>
    @Html.RenderPartialAsync("LogoutPartial")
</div>