@model IQueryable<Producer>
@{
    string strTitle = "Таблица для редактирование данных производителей";
    ViewBag.Title = strTitle;
}

<div class="admin__container">
    <h2>@strTitle</h2>

    <p class="tableHeader">Производители</p>

    <div class="flexProducersTable-container">
        <div class="flexProducersTable">
            <div>Id</div>
            <div>Название</div>
            <div>Контактная информация</div>
            <div>Расположение</div>
            <div>Описание</div>
            <div>Продукты</div>
            <div>Редактировать?</div>
            @foreach (Producer producer in Model)
            {
                <div><input asp-for="@producer.ProducerId" value="@producer.ProducerId" /></div>
                <div><input asp-for="@producer.Name" value="@producer.Name" /></div>
                <div><input asp-for="@producer.ContactInformation" value="@producer.ContactInformation" /></div>
                <div><input asp-for="@producer.Location" value="@producer.Location" /></div>
                <div><input asp-for="@producer.Description" value="@producer.Description" /></div>

                <div>
                    @if (producer.Products == null || producer.Products.Count() == 0)
                    {
                        <div>Нет</div>
                    }
                    else
                    {
                        <div>Есть</div>
                    }
                </div>
                <div><a class="insertLink" asp-area="Admin" asp-controller="Producer" asp-action="ProducerEdit" asp-route-id="@producer.ProducerId">Редактировать</a></div>
            }
        </div>
    </div>
    @if (Model.Any())
    {
        <p>Удалить производителя по Id</p>// TODO в будущем добавить js и возоможность удаления через выделение элементов
        <form style="display: inline-block;" asp-area="Admin" asp-controller="Producer" asp-action="ProducerDelete" method="post">
            <select name="id">
                @foreach (Producer producer in Model)
                {
                    <option value="@producer.ProducerId">@producer.ProducerId</option>
                }
            </select>
            <input type="submit" value="Удалить" />
        </form>
    }
    <a asp-area="Admin" asp-controller="Producer" asp-action="ProducerEdit" asp-route-id="">Добавить продукт</a>
</div>