@model (IQueryable<Product>, IEnumerable<bool>)
@{
    string strTitle = "Таблица для редактирование данных продуктов";
    ViewBag.Title = strTitle;
}

<div class="admin__container">
    <h2>@strTitle</h2>
    <div>Продукты</div>
    <div class="flexProductsTable-container">
        <div class="flexProductsTable">
            <div>Id</div>
            <div>Id производителя</div>
            <div>Название</div>
            <div>Описание</div>
            <div>Наличие карточки</div>
            <div>Редактировать продукт?</div>
            @{ string actionToCard = "";
                var products = Model.Item1;
                var containCardEnumerator = Model.Item2.GetEnumerator();
            }
            @foreach (Product product in Model.Item1)
            {
                <div><input asp-for="@product.ProductId" value="@product.ProductId" /></div>
                <div><input asp-for="@product.ProducerId" value="@product.ProducerId" /></div>
                <div><input asp-for="@product.Name" value="@product.Name" /></div>
                <div><input asp-for="@product.Description" value="@product.Description" /></div>

                <div class="inlineElement">
                    @{containCardEnumerator.MoveNext();}
                    @if (containCardEnumerator.Current)
                    {
                        <div>Есть </div>
                        actionToCard = "Редактировать";
                    }
                    else
                    {
                        <div>Нет </div>
                        actionToCard = "Добавить";
                    }

                    <a class="insertLink" asp-area="Admin" asp-controller="ProductCards" asp-action="ProductCardEdit" asp-route-id="@product.ProductId">@actionToCard</a>
                </div>
                <div><a class="insertLink" asp-area="Admin" asp-controller="Producer" asp-action="ProducerEdit" asp-route-id="@product.ProductId">Редактировать</a></div>
            }
            @*<form asp-area="Admin" asp-controller="ProductCards" asp-action="ProductCardEdit" method="post" enctype="multipart/form-data">*@
        </div>
    </div>
    @if (Model.Item1.Any())
    {
        <p>Удалить продукт по Id</p>// TODO в будущем добавить js и возомжность удаления через выделение элементов
        <form style="display: inline-block;" asp-area="Admin" id="DeleteProductForm" asp-controller="Product" asp-action="ProductDelete" method="post">
            <select name="id">
                @foreach (Product product in Model.Item1)
                {
                    <option name="id" asp-route-id="@product.ProductId">@product.ProductId</option>
                }
            </select>
            <input type="submit" value="Удалить" />
        </form>
    }
    <a asp-area="Admin" asp-controller="Product" asp-action="ProductEdit" asp-route-id="">Добавить продукт</a>
</div>