@model IQueryable<Product>
@{
    string strTitle = "Таблица для редактирование данных продуктов";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <table>
        <caption>Продукты</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Id производителя</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Наличие карточки</th>
            </tr>
        </thead>
        <tbody>
            @{ string actionToCard = ""; }
            @foreach (var product in Model)
            {
                <tr>
                    <th><input asp-for="@product.ProductId" value="@product.ProductId" /></th>
                    <td><input asp-for="@product.ProducerId" value="@product.ProducerId" /></td>
                    <td><input asp-for="@product.Name" value="@product.Name" /></td>
                    <td><input asp-for="@product.Description" value="@product.Description" /></td>
                    <td>
                        @if (product.SiteCard != null)
                        {
                            <div>Есть </div>
                            actionToCard = "Редактировать";
                        }
                        else
                        {
                            <div>Нет </div>
                            actionToCard = "Добавить";
                        }
                        <a asp-area="Admin" asp-controller="ProductCards" asp-action="ProductCardEdit" asp-route-id="@product.ProductId">@actionToCard</a>
                    </td>
                </tr>
            }
            @*<form asp-area="Admin" asp-controller="ProductCards" asp-action="ProductCardEdit" method="post" enctype="multipart/form-data">*@
        </tbody>
    </table>
    @if (Model.Any())
    {
        <p>Удалить продукт</p>//TODO в будущем добавить js и возомжность удаления через выделение элементов
        <form style="display: inline-block;" asp-area="Admin" id="DeleteProductForm" asp-controller="ProductEdit" asp-action="ProductDelete" method="post">
            <input name="cardId" type="number" value="1" min="1" max="@Model.Count()">
            <a href="#" onclick="document.getElementById('DeleteProductForm').submit();">Удалить</a>
        </form>
    }
    <a asp-area="Admin" asp-controller="Product" asp-action="ProductEdit" asp-route-id="">Добавить продукт</a>
    @Html.RenderPartialAsync("LogoutPartial")
</div>


@*<div>
        <h2>@strTitle</h2>
        <div>
            <form asp-area="Admin" asp-controller="ProductCards" asp-action="Edit" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
                <input type="hidden" asp-for="Product" value="@Model.Product" />
                <input type="hidden" asp-for="DateTimeAdded" value="@Model.DateTimeAdded" />
                <input type="hidden" asp-for="BackgroundImage" value="@Model.BackgroundImage" />


                <div asp-validation-summary="All"></div>
                <div class="div-box">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="div-box">
                    <label asp-for="Text"></label>
                    <textarea asp-for="Text"></textarea>
                    <span asp-validation-for="Text"></span>
                </div>
                <div class="div-box">
                    <label asp-for="BackgroundImage"></label>
                    <input type="file" name="formImageFile" id="formImageFile" />
                    <div>
                        <img class="img-block" src="@Model.BackgroundImage" />
                    </div>
                </div>
                <div class="div-box">
                    <label asp-for="RightTopText"></label>
                    <input asp-for="RightTopText" />
                    <span asp-validation-for="RightTopText"></span>
                </div>
                <div class="div-box">
                    <label asp-for="Rating"></label>
                    <input asp-for="Rating" />
                    <span asp-validation-for="Rating"></span>
                </div>
                <div class="div-box">
                    <label asp-for="CountComments"></label>
                    <input asp-for="CountComments" />
                    <span asp-validation-for="CountComments"></span>
                </div>
                <div class="div-box">
                    <label asp-for="TypeCard"></label>
                    <input asp-for="TypeCard" />
                    <span asp-validation-for="TypeCard"></span>
                </div>
                <input type="submit" value="Сохранить" />
            </form>
        </div>
    </div>*@